
body {
    color: #333;
    font-size: small;
    font-family: "PT Sans","Lucida Grande",Helvetica,Arial,sans-serif;
    margin: 10px 0 30px 10px;
    /* background-color: #059862;*/
    height: 100%;
}

.table td{
    height:160px !important;
}