<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBConn" connectionString="Initial Catalog=columbus;data source=ECJ24;Trusted_Connection=true;"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="480" mode="InProc"/>
    <globalization culture="en-au"/>
    <customErrors mode="Off"/>
    <!--<httpCookies requireSSL="true"/>-->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
    </authorization>
    <machineKey validationKey="C5B5E74670DEB86BC34E4C7CE88FA6DE8943DF1CC1EE07F35B1F52D9D62DF92450F9063699EDEE1D4754FDB3F385958415F09576FE3301974F5AEF09DC9930B2" decryptionKey="D762279093B0FDBF7040D733EAF4096E0BF6E456A61BEA1C" validation="SHA1"/>
    <!--  edited 31 Dec 08 to set limit at (4096) 4MB. also need to increase execution time for these to 120 seconds -->
    <httpRuntime executionTimeout="1200" maxRequestLength="4096" requestValidationMode="2.0"/>
    <xhtmlConformance mode="Legacy"/>
    <compilation debug="true" targetFramework="4.8">
      <!--<compilers>
        <compiler language="vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".VB" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls"/>
      </compilers>-->
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <appSettings/>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed"/>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>-->
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="DENY" />-->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="Content-Security-Policy" value="frame-ancestors 'self' http://ecj22:9033/"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>